body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body {
    background: #504DFF;
}
#reset-card{
    border-radius: 20px;
    width: 400px;
}
.reset-title{
    font-size: 1.6rem;
    font-weight: 800;
    color: #504DFF;
    margin: 0;
}
.input-field{
    margin-bottom: 0;
}
.validate{
    padding: 2px 5px 2px 10px;
    font-size: 13px;
}
.invalid{
    color: red;
}
.valid{
    color: green;
}
.row{
    margin-bottom: 10px;
}
#reset-btn{
    background: #504DFF;
    border-radius: 10px;
}