    {% extends "base.html" %}
    {% block body %}
    
    <div>
        <h2>Home Page</h2>
    </div>
    {% if request.user.is_authenticated %}
    <div class="profile-container">
        <div class="row">
            <!-- <center>
                <div class=""> -->
                    
                    <h3 style="padding-left: 300px; padding-top: 20px;">Hi,{{request.user.first_name}}</h3>
                    
                <!-- </div>
            </center> -->
        </div>
        <div class="row">
            <center>
                <div class="profile-details-card z-depth-3">
                    
                    <center>
                    <table>
                        <tr></tr>
                        <th>Total Task</th>
                        <th>Completed Task</th>
                        <th>Pending Task</th>
                    </tr>
                    <tr>
                        <td>{{totaltask}}</td>
                        <td>{{completedtask}}</td>
                        <td>{{pendingtask}}</td>
                    </tr>
                    </table>
                </center>
                </div>
            </center>
                <br>

        </div>
    </div>
    {% endif %}
    <script>

    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% endblock %}
<!-- </body>

</html> -->