    {% extends "base.html" %}
    {% block body %}
    <div class="profile-container">
        <div class="row">
            <center>
                <h5 class="profile-title">Profile</h5>

                <div class="profile-details-card z-depth-3">
                    <div class="profile-img" id="profile-img">
                        <img src="/static/img/profile.png">
                    </div>

                    <ul>
                        <li>Name: <span>{{user.first_name}} {{user.last_name}}</span></li>
                        <li>Designation: <span>{{user.designation}}</span></li>
                        <li>Employee ID: <span>{{request.user.empid}}</span></li>
                        <li>Email ID: <span>{{user.email}}</span></li>
                        <li>Location: <span>{{user.location}}</span></li>
                    </ul>

                </div>
                <br>

            </center>

        </div>
    </div>
    <script>

    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% endblock %}
<!-- </body>

</html> -->