{% extends 'base.html' %}
        {% block body %}
        
    <center>
        <div class="search-tab-container">
            <center>
                <div class="form-group">
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                </div>
            </center>
    <div class="all-tasks-container">
        <center>
            <form action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <div class="task-search row">
                <div class="input-field col l3 m5 s10">
                    <label>From</label>
                    <input placeholder="Select starting Date" type="text" class="datepicker" name="fromdate" >
                </div>
                <div class="input-field col l3 m5 s10">
                    <label>To</label>
                    <input placeholder="Select ending Date" type="text" class="datepicker" name="todate"  >
                </div>
                <div class="input-field col l3 m5 s10">
                    <label>Employee ID</label>
                    <input class="col" type="text" placeholder="Type employee id..." name="empid" >
                </div>
                <div class="input-field col l3 m5 s10">
                    <label>Task</label>
                    <input class="col" type="text" placeholder="Type task name..." name="task" >
                </div>
                <!-- send search request based on input -->
                <div class="input-field col l12 m12 s12">
                    <button class="btn search-btn waves-effect waves-light" onclick="">Search</button>
                </div>
            </div>
        </form>
        </center>
        <div class="row">
            <center>
                <h5 class="all-tasks-title">Tasks</h5>
            </center>

        </div>
        <div>
            <ul class="collapsible">
                {% for data in taskData %}
                <li class="task-card pending">
                    <div class="collapsible-header">
                        <div class="employee-info">
                            <div class="">Employee ID: <span>{{data.empid}}</span></div>
                            <div class="">Name: <span>{{data.empname}}</span></div>
                            <div class="">Email: <span>{{data.empemail}}</span></div>
                            <div class="">Status: <span>{{data.taskstatus}}</span></div>
                            <div>Task/Query: <span>{{data.taskname}}</span></div>
                        </div>
                    </div>
                    <div class="collapsible-body row">

                        <div class="task-summary col l9 s12">
                            <span class="summary-title">Summary</span>
                            <div class="summary-list">
                                <div class="">Created Date: <span class="summary-date">{{data.createdon}}</span></div>
                                <div class="">Due Date: <span class="summary-date">{{data.duedate}}</span></div>
                                <div class="">Getting further info: <span class="summary-date">{{data.tasksummary}}</span></div>
                                <!-- <div class="">Connecting with the employee <span class="summary-date">(07/20/2022, 02:00:12 PM)</span></div>
                                <div class="">Resolved <span class="summary-date">(07/20/2022, 02:00:12 PM)</span></div>
                                <div class="">Getting further info <span class="summary-date">(07/15/2022, 02:00:12 PM)</span></div>
                                <div class="">Connecting with the employee <span class="summary-date">(07/20/2022, 02:00:12 PM)</span></div>
                                <div class="">Resolved <span class="summary-date">(07/20/2022, 02:00:12 PM)</span></div> -->
                            </div>
                        </div>
                        <div class="task-actions col l3 s12">
                            <div class="">
                                <div class="input-field">
                                    <a href="/search/updatetask/{{ data.id }}"><button type='submit' name='btn_update' id="task-update-btn"
                                        class='btn btn-small teal waves-effect waves-light'>Update</button></a>
                                </div>
                                <div class="col s12"></div>
                                <div class="input-field">
                                    <form action="/search/deletetask/{{data.id}}" method="post">
                                        {% csrf_token %}
                                        <button name='btn_ask_delete' id="task-delete-btn"
                                        class=' btn btn-small red waves-effect waves-light'>Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
                <center>
                    <button class="btn load-more-btn waves-effect waves-light" onclick="">Load More...</button>
                </center>
                <br>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/nav-bar.js"></script>
    <script src="/static/js/search-display-task.js"></script>
    <script src="/static/js/jquery.datetimepicker.full.min.js"></script>
    <script>
        // mobile navbar
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
{% endblock %}